<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01Stack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>01stack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06Libonacci.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>07Queue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>08LinkQueue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>09String.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>10BitTreeArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>DataStructure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LinkList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LinkStack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>StaticLinkList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tonghuan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3315E4E61E66E1A50096F1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3335E1201E6EA5F800D09CF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3335E12B1E6EA6DB00D09CF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3356E10A1E6A8CED0063A7FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3356E1151E6A9FA70063A7FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3359C3AA1E6F02B5006F98CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>339DA3171E711DA40047CFB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33D87AD11E6B01F20047C735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33EF58561E6FDAEF00AC3424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33EF58611E6FDDCF00AC3424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33EF586C1E6FE51B00AC3424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2BF5341E742EC600117422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
